In [1]:
%matplotlib notebook
%matplotlib incline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_csv = "Resources/Mixed_Beverage_Gross_Receipts.csv"

In [3]:
data_df = pd.read_csv(data_csv)
data_df.head()

,Taxpayer Number,Taxpayer Name,Taxpayer Address,Taxpayer City,Taxpayer State,Taxpayer Zip,Taxpayer County,Location Number,Location Name,Location Address,...,Location County,Inside/Outside City Limits,TABC Permit Number,Responsibility Begin Date,Responsibility End Date,Obligation End Date,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
0,32047970895,HONDURAS MAYA CAFE & BAR LLC,8011 HAZEN ST,HOUSTON,TX,77036.0,101,1,HONDURAS MAYA CAFE & BAR LLC,5945 BELLAIRE BLVD STE B,...,101,Y,MB817033,8/16/2012,9/12/2019,7/31/2019,0,0,0,0
1,17525823914,"WEST HOUSTON NIGHT LIFE, INC.",3311 GREENOAK PL,TYLER,TX,75701.0,212,1,ELECTRIC COWBOY,8740 CAMP BOWIE WEST BLVD,...,220,Y,MB253720,5/11/1995,NaN,4/30/2008,60922,753,54240,115915
2,32039541860,GREEN GINGER INC.,1574 W GRAY ST,HOUSTON,TX,77019.0,101,1,CAFE GINGER,1952 W GRAY ST,...,101,Y,MB734102,10/13/2009,4/18/2018,8/31/2010,2834,7986,957,11777
3,32039762029,"LT BUSINESS, INC.",12350 SHADOW ISLAND DR,HOUSTON,TX,77082.0,101,1,LE VIET RESTAURANT,11328A WESTHEIMER RD,...,101,Y,MB517825,3/1/2010,3/14/2018,1/31/2016,125,0,250,375
4,32068715245,HIGHER BAR LLC,400 LAS COLINAS BLVD E STE 1080,IRVING,TX,75039.0,57,1,THE CLOVER CLUB,2404 CEDAR SPRINGS RD STE 400,...,57,Y,MB1054288,5/16/2019,NaN,7/31/2020,0,0,0,0

In [4]:
clean_df = data_df[["Location Name", "Location Address","Location City","Location State","Location Zip", "Liquor Receipts",
                           "Wine Receipts", "Beer Receipts", "Total Receipts"]]
clean_df.head()

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
0,HONDURAS MAYA CAFE & BAR LLC,5945 BELLAIRE BLVD STE B,HOUSTON,TX,77081,0,0,0,0
1,ELECTRIC COWBOY,8740 CAMP BOWIE WEST BLVD,FORT WORTH,TX,76116,60922,753,54240,115915
2,CAFE GINGER,1952 W GRAY ST,HOUSTON,TX,77019,2834,7986,957,11777
3,LE VIET RESTAURANT,11328A WESTHEIMER RD,HOUSTON,TX,77077,125,0,250,375
4,THE CLOVER CLUB,2404 CEDAR SPRINGS RD STE 400,DALLAS,TX,75201,0,0,0,0

In [5]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044521 entries, 0 to 1044520
Data columns (total 9 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Location Name     1044521 non-null  object
 1   Location Address  1044521 non-null  object
 2   Location City     1044521 non-null  object
 3   Location State    1044521 non-null  object
 4   Location Zip      1044521 non-null  int64
 5   Liquor Receipts   1044521 non-null  int64
 6   Wine Receipts     1044521 non-null  int64
 7   Beer Receipts     1044521 non-null  int64
 8   Total Receipts    1044521 non-null  int64
dtypes: int64(5), object(4)
memory usage: 71.7+ MB

In [6]:
minreceipts = 5000

In [7]:
totaldf = clean_df.loc[clean_df["Total Receipts"] > minreceipts]
liquordf = clean_df.loc[clean_df["Liquor Receipts"] > minreceipts]
winedf = clean_df.loc[clean_df["Wine Receipts"] > minreceipts]
beerdf = clean_df.loc[clean_df["Beer Receipts"] > minreceipts]

In [8]:
totalcitymax = totaldf["Total Receipts"].max()
liquorcitymax = liquordf["Liquor Receipts"].max()
winecitymax = winedf["Wine Receipts"].max()
beercitymax = beerdf["Beer Receipts"].max()
totalcitymin = totaldf["Total Receipts"].min()
liquorcitymin = liquordf["Liquor Receipts"].min()
winecitymin = winedf["Wine Receipts"].min()
beercitymin = beerdf["Beer Receipts"].min()

In [9]:
totalcitymaxs = clean_df.loc[clean_df["Total Receipts"]==totalcitymax]
liquorcitymaxs = clean_df.loc[clean_df["Liquor Receipts"]==liquorcitymax]
winecitymaxs = clean_df.loc[clean_df["Wine Receipts"]==winecitymax]
beercitymaxs = clean_df.loc[clean_df["Beer Receipts"]==beercitymax]

In [10]:
totalcitymaxs

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
510424,ARAMARK SPORTS & ENTERTAINMENT SER OF TEXAS INC,8355 KIRBY DR,HOUSTON,TX,77054,20998,404948,4890745,5316691

In [11]:
liquorcitymaxs

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
124990,ARAMARK SPORTS & ENTERTAINMENT SER OF TEXAS INC,8355 KIRBY DR,HOUSTON,TX,77054,2548863,300175,1522140,4371178

In [12]:
winecitymaxs

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
242715,"HOSPITALITY INTERNATIONAL, INC.",2555 N PEARL ST,DALLAS,TX,75201,642405,1016063,86629,1745097

In [13]:
beercitymaxs

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
510424,ARAMARK SPORTS & ENTERTAINMENT SER OF TEXAS INC,8355 KIRBY DR,HOUSTON,TX,77054,20998,404948,4890745,5316691

In [14]:
totalcitymins = clean_df.loc[clean_df["Total Receipts"]==minreceipts]
liquorcitymins = clean_df.loc[clean_df["Liquor Receipts"]==liquorcitymin]
winecitymins = clean_df.loc[clean_df["Wine Receipts"]==winecitymin]
beercitymins = clean_df.loc[clean_df["Beer Receipts"]==beercitymin]

In [15]:
totalcitymins

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
5387,SANKOFA ART'S CAFE,2820 COMMERCE ST,DALLAS,TX,75226,2000,1000,2000,5000
20694,THE MANSION CLUB/GROTTO VIP,7460 CALLAGHAN RD STE 333,SAN ANTONIO,TX,78229,2850,125,2025,5000
40077,LIONZ DEN,5042 SHERRI ANN RD,SAN ANTONIO,TX,78233,5000,0,0,5000
60063,SPORT GRILL 249 & WINGS,14901 STATE HIGHWAY 249 STE 110,HOUSTON,TX,77086,1250,0,3750,5000
61996,THE BLUE COLLAR BAR AND GRILL,13150 FM 529 RD STE 101,HOUSTON,TX,77041,3000,0,2000,5000
...,...,...,...,...,...,...,...,...,...
1004214,3131 LOUNGE,3131 MAIN ST,DALLAS,TX,75226,2186,780,2034,5000
1012353,"FOSSIL CREEK HOSPITALITY GROUP, LLC-LOBBY STORE",5301 N RIVERSIDE DR,FORT WORTH,TX,76137,3223,221,1556,5000
1014691,THE ELEVENTH HOUR,5103 RANDOLPH BLVD,SAN ANTONIO,TX,78233,2010,0,2990,5000
1022776,FIRST WATCH RESTAURANTS #242,6333 CAMP BOWIE BLVD STE 280,FORT WORTH,TX,76116,4920,80,0,5000
1024497,FIRST WATCH RESTAURANTS #362,14005 N HIGHWAY 183 STE 500,AUSTIN,TX,78717,4888,112,0,5000

In [16]:
totalcitymins.head()

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
5387,SANKOFA ART'S CAFE,2820 COMMERCE ST,DALLAS,TX,75226,2000,1000,2000,5000
20694,THE MANSION CLUB/GROTTO VIP,7460 CALLAGHAN RD STE 333,SAN ANTONIO,TX,78229,2850,125,2025,5000
40077,LIONZ DEN,5042 SHERRI ANN RD,SAN ANTONIO,TX,78233,5000,0,0,5000
60063,SPORT GRILL 249 & WINGS,14901 STATE HIGHWAY 249 STE 110,HOUSTON,TX,77086,1250,0,3750,5000
61996,THE BLUE COLLAR BAR AND GRILL,13150 FM 529 RD STE 101,HOUSTON,TX,77041,3000,0,2000,5000

In [17]:
totalcitymins.tail()

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
1004214,3131 LOUNGE,3131 MAIN ST,DALLAS,TX,75226,2186,780,2034,5000
1012353,"FOSSIL CREEK HOSPITALITY GROUP, LLC-LOBBY STORE",5301 N RIVERSIDE DR,FORT WORTH,TX,76137,3223,221,1556,5000
1014691,THE ELEVENTH HOUR,5103 RANDOLPH BLVD,SAN ANTONIO,TX,78233,2010,0,2990,5000
1022776,FIRST WATCH RESTAURANTS #242,6333 CAMP BOWIE BLVD STE 280,FORT WORTH,TX,76116,4920,80,0,5000
1024497,FIRST WATCH RESTAURANTS #362,14005 N HIGHWAY 183 STE 500,AUSTIN,TX,78717,4888,112,0,5000

In [18]:
liquorcitymins

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
16405,"UNITED CLUB TERMINAL B, MEZZANINE FLOOR",3100 N TERMINAL RD STE TB-UC,HOUSTON,TX,77032,5001,5526,1595,12122
26094,MR A'S CLUB,3409 CAVALCADE ST,HOUSTON,TX,77026,5001,570,1760,7331
34187,OSTIONERIA MICHOACAN #7,1817 WIRT RD,HOUSTON,TX,77055,5001,0,39275,44276
46298,KANAU SUSHI,2850 FANNIN ST STE 400,HOUSTON,TX,77002,5001,3289,1109,9399
114939,MANUEL'S MEXICAN RESTAURANT,13083 W LAKE HOUSTON PKWY,HOUSTON,TX,77044,5001,105,1842,6948
178229,BREWINGZ,5598 NORTH FWY STE B,HOUSTON,TX,77076,5001,29,9124,14154
218651,"BARRETT'S BAR AND MUSIC, LLC",6922 HARRISBURG BLVD,HOUSTON,TX,77011,5001,66,10321,15388
256693,"CABANA BEVERAGES, INC.",3922 LITTLE YORK RD,HOUSTON,TX,77093,5001,0,946,5947
305150,PICANTE GRILL,3810 BROADWAY ST,SAN ANTONIO,TX,78209,5001,570,2489,8060
328922,THE SPAGHETTI WAREHOUSE,1815 N MARKET ST,DALLAS,TX,75202,5001,3391,2727,11119
337694,BROSKIS SPORTS BAR,4830 HIGHWAY 6 N STE A,HOUSTON,TX,77084,5001,0,3970,8971
478143,SCUZZI ITALIAN GRILL,4035 N LOOP 1604 W # 102,SAN ANTONIO,TX,78257,5001,15762,1948,22711
519427,THE ORIGINAL SPEAK EASY,5826 CONLEY ST,HOUSTON,TX,77021,5001,863,908,6772
550610,GOLDEN WOK,1410 SW LOOP 410,SAN ANTONIO,TX,78227,5001,634,6110,11745
713920,THE HEIGHTS SPORTS LOUNGE,2626 WHITE OAK DR,HOUSTON,TX,77009,5001,227,3410,8638
734181,RED ROBIN,13000 IH 35 S BLDG 5,AUSTIN,TX,78753,5001,343,5234,10578
744233,PRIMIZIE OSTERIA,1000 E 11TH ST STE 150,AUSTIN,TX,78702,5001,13293,1502,19796
780837,LOS REYES MEXICAN RESTAURANT,5050 FM 1960 RD W STE 136,HOUSTON,TX,77069,5001,237,3330,8568
798915,EL CHICO MEXICAN RESTAURANT AND CANTINA NO 32,13937 N CENTRAL EXPY,DALLAS,TX,75243,5001,379,2249,7629
802048,OLIVE GARDEN OF TEXAS #1257,9079 VANTAGE POINT DR,DALLAS,TX,75243,5001,11409,2810,19220
858875,THE BUCKET,3512 ALTA MERE DR,FORT WORTH,TX,76116,5001,36,7704,12741
872333,FISH CITY GRILL,2323 N HENDERSON AVE STE 109,DALLAS,TX,75206,5001,5722,3954,14677
894562,CITY CAFE,5757 W LOVERS LN STE 101,DALLAS,TX,75209,5001,22767,150,27918
953962,RIVER OAKS LOUNGE,2009 W GRAY ST,HOUSTON,TX,77019,5001,3153,3114,11268
986569,PRICILLA HOLLIDAY OF TEXAS,6800 MAIN ST,HOUSTON,TX,77030,5001,1667,2593,9261

In [19]:
winecitymins

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
15215,ELEVATED EVENTS LLC,2915 N MAIN ST,HOUSTON,TX,77009,89674,5001,133889,228564
104174,STELLA NORA,1928 GREENVILLE AVE,DALLAS,TX,75206,10913,5001,2300,18214
113062,NAAM KHAO,1420 ELDRIDGE PKWY,HOUSTON,TX,77077,12519,5001,8398,25918
125022,DOLCE VITA,4222 DUVAL ST,AUSTIN,TX,78751,8351,5001,2996,16348
202848,THAI STICKS RESTAURANT AND BAR,4319 MONTROSE BLVD,HOUSTON,TX,77006,1796,5001,704,7501
240959,RICHMOND ARMS,5920 RICHMOND AVE,HOUSTON,TX,77057,17352,5001,57825,80178
269595,AUSTIN'S MOON TOWER SALOON INC.,10212 MANCHACA RD,AUSTIN,TX,78748,143445,5001,178460,326906
293795,THE BONNEVILLE,202 W CESAR CHAVEZ ST,AUSTIN,TX,78701,8559,5001,2017,15577
358446,SWAGGER,3839 SOUTHWEST FWY,HOUSTON,TX,77027,48943,5001,10118,64062
398701,QUARRY HOFBRAU & BEER GARDEN,7310 JONES MALTSBERGER RD,SAN ANTONIO,TX,78209,128198,5001,57107,190306
484904,CARINO'S ITALIAN,12901 N INTERSTATE 35,AUSTIN,TX,78753,3962,5001,1616,10579
533972,400 BAR/CUCARACHA/CHUPACABRA/JACKALOPE/MOOSENU...,400 E 6TH ST,AUSTIN,TX,78701,359386,5001,105137,469524
577494,MELANGE CATERING AND GOURMET TO GO,6803 WYNNWOOD LN,HOUSTON,TX,77008,2433,5001,560,7994
641043,THE HOPPY MONK,1010 N LOOP 1604 E,SAN ANTONIO,TX,78232,30080,5001,75121,110202
748125,SAWYER & CO,4827 E CESAR CHAVEZ ST,AUSTIN,TX,78702,10800,5001,3092,18893
798449,JONATHON'S OAK CLIFF,1111 N BECKLEY AVE,DALLAS,TX,75203,7019,5001,990,13010
801258,SUSHI JIN,14670 MEMORIAL DR,HOUSTON,TX,77079,423,5001,4384,9808
812217,SHUCK & JIVE MEMPHIS,5000 BELT LINE RD STE 500-530,DALLAS,TX,75254,103756,5001,38238,146995
817065,ES ALUCINANTE,11909 PRESTON RD STE 1426,DALLAS,TX,75230,1991,5001,1854,8846
830569,SEGARI'S,1503 SHEPHERD DR,HOUSTON,TX,77007,4729,5001,554,10284
832540,THE ARMADILLO PALACE,5015 KIRBY DR,HOUSTON,TX,77098,53826,5001,45620,104447
833785,HOWARD WANG'S CHINA GRILL,4343 W NORTHWEST HWY STE 345,DALLAS,TX,75220,3181,5001,1622,9804
953886,GOODFRIEND,1154 PEAVY RD,DALLAS,TX,75218,35361,5001,39824,80186
966473,THE BEEMAN HOTEL,6070 N CENTRAL EXPY,DALLAS,TX,75206,25999,5001,5189,36189
988193,BOVINOS,15900 LA CANTERA PKWY STE 11200,SAN ANTONIO,TX,78256,10194,5001,1826,17021

In [20]:
beercitymins

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
489,ARCODORO,5000 WESTHEIMER RD STE 120,HOUSTON,TX,77056,24348,75022,5001,104371
55034,EMMITS PLACE,4852 BENNING DR,HOUSTON,TX,77035,5816,128,5001,10945
79213,LAS PALAPAS ALAMO RANCH,5603 W LOOP 1604 N,SAN ANTONIO,TX,78253,22480,35,5001,27516
80806,TORCHY'S TACOS,2411 S SHEPHERD DR,HOUSTON,TX,77019,4523,305,5001,9829
86546,STATE OF GRACE,3256 WESTHEIMER RD,HOUSTON,TX,77098,49185,105603,5001,159789
116305,DYLAN BEVERAGE LLC,3230 KNOX ST STE 140,DALLAS,TX,75205,36412,69453,5001,110866
127593,HILTON HOUSTON GALLERIA,6780 SOUTHWEST FWY,HOUSTON,TX,77074,10858,3444,5001,19303
165976,CHILI'S GRILL & BAR,2503 W WHEATLAND RD,DALLAS,TX,75237,21867,473,5001,27341
166739,CORRIENTES 348,1807 ROSS AVE STE 200,DALLAS,TX,75201,31328,33228,5001,69557
184696,ALDACO'S MEXICAN CUISINE,22211 W INTERSTATE 10 BLDG 2,SAN ANTONIO,TX,78257,19696,2818,5001,27515
190100,PRYME,10333 TECHNOLOGY BLVD E,DALLAS,TX,75220,35956,85,5001,41042
209397,RUCHIS GRILL EL RINCON DE MEXICO GRILL,6410 WESTHEIMER RD,HOUSTON,TX,77057,1782,0,5001,6783
281321,JUANITA'S MEXICAN RESTAURANT,11550 LOUETTA RD,HOUSTON,TX,77070,32408,1299,5001,38708
302329,LA COMIDA,5100 BELT LINE RD STE 796,DALLAS,TX,75254,32790,2050,5001,39841
302484,KIRBY'S STEAKHOUSE,123 N LOOP 1604 E,SAN ANTONIO,TX,78232,23686,75907,5001,104594
399134,LUNA,6740 SAN PEDRO,SAN ANTONIO,TX,78216,18430,1532,5001,24963
406844,KAYCEE CLUB INC OF DALLAS,10110 SHOREVIEW RD,DALLAS,TX,75238,3042,823,5001,8866
447031,VETERANS OF FOREIGN WARS POST #4477,300 S SMITH ST,DALLAS,TX,75211,1849,192,5001,7042
462433,OLIVE GARDEN OF TEXAS #1259,12711 GULF FWY,HOUSTON,TX,77034,12976,19120,5001,37097
496229,MAMACITAS MEXICAN RESTAURANT & CANTINA,15335 NORTH FWY,HOUSTON,TX,77090,26580,922,5001,32503
497406,CHIPS OLD FASHIONED HAMBURGERS,6115 LA VISTA DR,DALLAS,TX,75214,1513,1305,5001,7819
498326,M & S CAPITAL INC,2053 W NORTHWEST HWY STE 100,DALLAS,TX,75220,11228,796,5001,17025
520245,"'ONE-O-SIX OFF BROADWAY, INC.'",106 PERSHING AVE,SAN ANTONIO,TX,78209,16010,15,5001,21026
529571,RED BIRD OPS7 BEVERAGE COMPANY LLC,13301 N HIGHWAY 183 BLDG E,AUSTIN,TX,78750,3251,586,5001,8838
562678,OSEYO RESTAURANT,1628 E CESAR CHAVEZ ST,AUSTIN,TX,78702,39839,11779,5001,56619
563263,CORNER POCKET GRILL,2363 AUSTIN HWY,SAN ANTONIO,TX,78218,3004,102,5001,8107
635635,"CHAMPION GOLF CLUB, INC.",13722 CHAMPIONS DR,HOUSTON,TX,77069,21780,14498,5001,41279
648599,ELEMENT LOUNGE,2611 SAN JACINTO ST,HOUSTON,TX,77004,28070,418,5001,33489
649523,KICK BUTT COFFEE,5775 AIRPORT BLVD STE 725,AUSTIN,TX,78752,4248,355,5001,9604
684244,DESPERADOS,4818 GREENVILLE AVE,DALLAS,TX,75206,22637,1568,5001,29206
727110,THE ELEGANT HOGG BAR & GRILL,1900 S KIRKWOOD RD STE G,HOUSTON,TX,77077,6803,1313,5001,13117
766069,STEAMBOAT HOUSE,8045 N SAM HOUSTON PKWY W,HOUSTON,TX,77064,10375,24615,5001,39991
771080,NICK & SAM'S STEAK & FISH HOUSE,3008 MAPLE AVE,DALLAS,TX,75201,52395,203264,5001,260660
791398,PEARL AT COMMERCE,2038 COMMERCE ST,DALLAS,TX,75201,9385,1239,5001,15625
822087,LANNY'S ALTA COCINA MEXICANA,3405 W 7TH ST,FORT WORTH,TX,76107,5365,12303,5001,22669
824389,KINGS X,9191 FOREST LN,DALLAS,TX,75243,7763,293,5001,13057
872615,LA HACIENDA RANCH,17390 PRESTON RD STE 100,DALLAS,TX,75252,26139,2194,5001,33334
875666,SPORTSMANS,6409 E LANCASTER AVE,FORT WORTH,TX,76112,5010,170,5001,10181
888363,CHADRA MEZZA AND GRILL,1622 PARK PLACE AVE,FORT WORTH,TX,76110,4148,3584,5001,12733
890593,RED LOBSTER 6310,5815 N LOOP 1604 W,SAN ANTONIO,TX,78249,12493,5694,5001,23188
892337,RONALD CHENG'S CHINATOWN DOWNTOWN,109 W 5TH ST,AUSTIN,TX,78701,8637,5269,5001,18907
905244,"JRLJJ, LLC",15135 NORTH FWY STE 400,HOUSTON,TX,77090,1982,0,5001,6983
917439,MESERO - PRESTONHOLLOW VILLAGE,7775 FIREFALL WAY STE 100,DALLAS,TX,75230,68256,8517,5001,81774
930448,CLE',2301 MAIN ST STE 400,HOUSTON,TX,77002,175753,174,5001,180928
935720,GARDEN ABC CORPORATION,15400 JOHN F KENNEDY BLVD,HOUSTON,TX,77032,3913,4421,5001,13335
945636,SUSHI ZUSHI,999 E BASSE RD STE 186,SAN ANTONIO,TX,78209,5266,9177,5001,19444
956572,STUDIO MOVIE GRILL,8440 S SAM HOUSTON PKWY E,HOUSTON,TX,77075,19864,1516,5001,26381
992691,LOS TIOS MEXICAN RESTAURANT,14006 MEMORIAL DR,HOUSTON,TX,77079,30878,1771,5001,37650
998186,BOB'S STEAK & CHOP HOUSE,301 LAVACA ST,AUSTIN,TX,78701,85541,96995,5001,187537

In [21]:
city_group = clean_df.groupby(["Location City"])
city_group.head()

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
0,HONDURAS MAYA CAFE & BAR LLC,5945 BELLAIRE BLVD STE B,HOUSTON,TX,77081,0,0,0,0
1,ELECTRIC COWBOY,8740 CAMP BOWIE WEST BLVD,FORT WORTH,TX,76116,60922,753,54240,115915
2,CAFE GINGER,1952 W GRAY ST,HOUSTON,TX,77019,2834,7986,957,11777
3,LE VIET RESTAURANT,11328A WESTHEIMER RD,HOUSTON,TX,77077,125,0,250,375
4,THE CLOVER CLUB,2404 CEDAR SPRINGS RD STE 400,DALLAS,TX,75201,0,0,0,0
5,"HOSPITALITY INTERNATIONAL, INC.",23808 RESORT PKWY,SAN ANTONIO,TX,78261,1091522,503217,379433,1974172
6,LEI LOW,6412 N MAIN ST STE C,HOUSTON,TX,77009,21723,0,0,21723
7,LE VIET RESTAURANT,11328A WESTHEIMER RD,HOUSTON,TX,77077,401,1126,785,2312
8,POMODORO,2708 ROUTH ST,DALLAS,TX,75201,7252,44866,1676,53794
9,FLOUR AND VINE RESTAURANT AND WINE BAR,300 S LAMAR BLVD STE A,AUSTIN,TX,78704,12590,1175,3079,16844
14,PETES DUELING PIANOS,4980 BELT LINE RD STE 200,DALLAS,TX,75254,88311,1768,27978,118057
17,PLUCKERS WING BAR,9229 RAIN LILY TRL,FORT WORTH,TX,76177,48006,323,63603,111932
18,TWISTED ROOT BURGER COMPANY,510 W 26TH ST STE B,AUSTIN,TX,78705,0,0,0,0
21,"AUSTIN CRAFT SPIRITS COMPANY, LLC",12010 W HIGHWAY 290 STE 160,AUSTIN,TX,78737,0,0,0,0
23,OZONA GRILL AND BAR,4615 GREENVILLE AVE,DALLAS,TX,75206,48470,7517,27483,83470
25,"HOSPITALITY INTERNATIONAL, INC.",23808 RESORT PKWY,SAN ANTONIO,TX,78261,1134885,423679,328708,1887272
26,THE MITCHELL,1404 MAIN ST,DALLAS,TX,75202,14576,1086,576,16238
27,CUBA512,6800 W GATE BLVD STE 112,AUSTIN,TX,78745,6419,618,1123,8160
32,NIGHT HAWK FRISCO SHOP,6801 BURNET RD,AUSTIN,TX,78757,1266,1503,1256,4025
37,THE USUAL,1408 W MAGNOLIA AVE,FORT WORTH,TX,76104,37585,3279,5731,46595
40,"HOSPITALITY INTERNATIONAL, INC.",23808 RESORT PKWY,SAN ANTONIO,TX,78261,574907,390911,280494,1246312
51,T & P TAVERN,221 W LANCASTER AVE STE 1000,FORT WORTH,TX,76102,18207,2229,28934,49370
53,"HOSPITALITY INTERNATIONAL, INC.",23808 RESORT PKWY,SAN ANTONIO,TX,78261,770926,406226,303690,1480842
54,LUNA AZUL MEXICAN BAR,1117 E BELKNAP ST,FORT WORTH,TX,76102,11784,28,11304,23116
67,"HOSPITALITY INTERNATIONAL, INC.",23808 RESORT PKWY,SAN ANTONIO,TX,78261,974845,363809,335769,1674423

In [22]:
maxpercity = city_group["Total Receipts"].max()

In [23]:
austintotalmax = clean_df.loc[clean_df["Total Receipts"]==1961527]
dallastotalmax = clean_df.loc[clean_df["Total Receipts"]==2132222]
fwtotalmax = clean_df.loc[clean_df["Total Receipts"]==2213047]
houstontotalmax = clean_df.loc[clean_df["Total Receipts"]==5316691]
satotalmax = clean_df.loc[clean_df["Total Receipts"]==3894133]

In [24]:
austintotalmax

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
1012568,LEVY AT AUSTIN FC,10414 MCKALLA PL,AUSTIN,TX,78758,341513,62838,1557176,1961527

In [25]:
dallastotalmax

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
695396,LEVY RESTAURANTS,2500 VICTORY AVE,DALLAS,TX,75219,487853,293679,1350690,2132222

In [26]:
fwtotalmax

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
837813,DICKIES ARENA,1911 MONTGOMERY ST,FORT WORTH,TX,76107,930662,207650,1074735,2213047

In [27]:
houstontotalmax

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
510424,ARAMARK SPORTS & ENTERTAINMENT SER OF TEXAS INC,8355 KIRBY DR,HOUSTON,TX,77054,20998,404948,4890745,5316691

In [28]:
satotalmax

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
344048,ARAMARK SPORTS AND ENTERTAINMENT SERVICES OF T...,211 AT AND T CENTER PKWY,SAN ANTONIO,TX,78219,1509448,212617,2172068,3894133

In [29]:
liquormaxcity = city_group["Liquor Receipts"].max()
liquormaxcity

Location City
AUSTIN         1877661
DALLAS         1017923
FORT WORTH      930662
HOUSTON        2548863
SAN ANTONIO    2204014
Name: Liquor Receipts, dtype: int64

In [30]:
alm = clean_df.loc[clean_df["Liquor Receipts"]==1877661]
dlm = clean_df.loc[clean_df["Liquor Receipts"]==1017923]
fwlm = clean_df.loc[clean_df["Liquor Receipts"]==930662]
hlm = clean_df.loc[clean_df["Liquor Receipts"]==2548863]
salm = clean_df.loc[clean_df["Liquor Receipts"]==2204014]

In [31]:
alm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
140376,"PREMIER HOSPITALITY, INC.",1701 RED RIVER ST,AUSTIN,TX,78712,1877661,0,32121,1909782

In [32]:
dlm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
297587,OMNI DALLAS CONVENTION CENTER,555 S LAMAR ST,DALLAS,TX,75202,1017923,480749,343205,1841877

In [33]:
fwlm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
837813,DICKIES ARENA,1911 MONTGOMERY ST,FORT WORTH,TX,76107,930662,207650,1074735,2213047

In [34]:
hlm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
124990,ARAMARK SPORTS & ENTERTAINMENT SER OF TEXAS INC,8355 KIRBY DR,HOUSTON,TX,77054,2548863,300175,1522140,4371178

In [35]:
salm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
914514,ARAMARK SPORTS AND ENTERTAINMENT SERVICES OF T...,211 AT AND T CENTER PKWY,SAN ANTONIO,TX,78219,2204014,254339,1354820,3813173

In [36]:
winemaxcity = city_group["Wine Receipts"].max()
winemaxcity

Location City
AUSTIN          760053
DALLAS         1016063
FORT WORTH      338193
HOUSTON         952263
SAN ANTONIO     611887
Name: Wine Receipts, dtype: int64

In [37]:
awm = clean_df.loc[clean_df["Wine Receipts"]==760053]
dwm = clean_df.loc[clean_df["Wine Receipts"]==1016063]
fwwm = clean_df.loc[clean_df["Wine Receipts"]==338193]
hwm = clean_df.loc[clean_df["Wine Receipts"]==952263]
sawm = clean_df.loc[clean_df["Wine Receipts"]==611887]

In [38]:
awm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
129741,FAIRMONT AUSTIN HOTEL,101 RED RIVER ST,AUSTIN,TX,78701,0,760053,102229,862282

In [39]:
dwm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
242715,"HOSPITALITY INTERNATIONAL, INC.",2555 N PEARL ST,DALLAS,TX,75201,642405,1016063,86629,1745097

In [40]:
fwwm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
239991,DEL FRISCO'S DOUBLE EAGLE STEAK HOUSE,812 MAIN ST,FORT WORTH,TX,76102,172152,338193,16895,527240

In [41]:
hwm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
636250,THE POST OAK/MASTRO'S/WILLIE G'S,1600 WEST LOOP S,HOUSTON,TX,77027,476015,952263,518429,1946707

In [42]:
sawm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
343697,ARAMARK SPORTS AND ENTERTAINMENT SERVICES OF T...,211 AT AND T CENTER PKWY,SAN ANTONIO,TX,78219,881008,611887,987752,2480647

In [43]:
beermaxcity = city_group["Beer Receipts"].max()
beermaxcity

Location City
AUSTIN         1557176
DALLAS         1350690
FORT WORTH     1074735
HOUSTON        4890745
SAN ANTONIO    2172068
Name: Beer Receipts, dtype: int64

In [44]:
abm = clean_df.loc[clean_df["Beer Receipts"]==1557176]
dbm = clean_df.loc[clean_df["Beer Receipts"]==1350690]
fwbm = clean_df.loc[clean_df["Beer Receipts"]==1074735]
hbm = clean_df.loc[clean_df["Beer Receipts"]==4890745]
sabm = clean_df.loc[clean_df["Beer Receipts"]==2172068]

In [45]:
abm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
1012568,LEVY AT AUSTIN FC,10414 MCKALLA PL,AUSTIN,TX,78758,341513,62838,1557176,1961527

In [46]:
dbm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
695396,LEVY RESTAURANTS,2500 VICTORY AVE,DALLAS,TX,75219,487853,293679,1350690,2132222

In [47]:
fwbm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
837813,DICKIES ARENA,1911 MONTGOMERY ST,FORT WORTH,TX,76107,930662,207650,1074735,2213047

In [48]:
hbm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
510424,ARAMARK SPORTS & ENTERTAINMENT SER OF TEXAS INC,8355 KIRBY DR,HOUSTON,TX,77054,20998,404948,4890745,5316691

In [49]:
sabm

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
344048,ARAMARK SPORTS AND ENTERTAINMENT SERVICES OF T...,211 AT AND T CENTER PKWY,SAN ANTONIO,TX,78219,1509448,212617,2172068,3894133

In [50]:
minpercity = totaldf["Total Receipts"].min()

In [51]:
minpercity

5001

In [53]:
austintotalmin = clean_df.loc[(clean_df["Total Receipts"]==5001)&(clean_df["Location City"]=="AUSTIN")]

In [54]:
austintotalmin

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
210890,MR CATFISH AND MORE,1144 AIRPORT BLVD STE 220,AUSTIN,TX,78702,3743,107,1151,5001
371320,PARLOR AND YARD,601 W 6TH ST,AUSTIN,TX,78701,3207,1125,669,5001
470107,LIMA CRIOLLA - PERUVIAN RESTAURANT,6406 N INTERSTATE 35 STE 1550,AUSTIN,TX,78752,3107,481,1413,5001
822102,JULIO'S CAFE,4230 DUVAL ST,AUSTIN,TX,78751,3592,197,1212,5001
950094,HYATT PLACE AUSTIN HOTEL,3612 TUDOR BLVD,AUSTIN,TX,78759,2391,923,1687,5001

In [55]:
austinbeermin = clean_df.loc[(clean_df["Beer Receipts"]==5001)&(clean_df["Location City"]=="AUSTIN")]
austinliquormin = clean_df.loc[(clean_df["Liquor Receipts"]==5001)&(clean_df["Location City"]=="AUSTIN")]
austinwinemin = clean_df.loc[(clean_df["Wine Receipts"]==5001)&(clean_df["Location City"]=="AUSTIN")]

In [56]:
austinbeermin

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
529571,RED BIRD OPS7 BEVERAGE COMPANY LLC,13301 N HIGHWAY 183 BLDG E,AUSTIN,TX,78750,3251,586,5001,8838
562678,OSEYO RESTAURANT,1628 E CESAR CHAVEZ ST,AUSTIN,TX,78702,39839,11779,5001,56619
649523,KICK BUTT COFFEE,5775 AIRPORT BLVD STE 725,AUSTIN,TX,78752,4248,355,5001,9604
892337,RONALD CHENG'S CHINATOWN DOWNTOWN,109 W 5TH ST,AUSTIN,TX,78701,8637,5269,5001,18907
998186,BOB'S STEAK & CHOP HOUSE,301 LAVACA ST,AUSTIN,TX,78701,85541,96995,5001,187537

In [57]:
austinliquormin

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
734181,RED ROBIN,13000 IH 35 S BLDG 5,AUSTIN,TX,78753,5001,343,5234,10578
744233,PRIMIZIE OSTERIA,1000 E 11TH ST STE 150,AUSTIN,TX,78702,5001,13293,1502,19796

In [58]:
austinwinemin

,Location Name,Location Address,Location City,Location State,Location Zip,Liquor Receipts,Wine Receipts,Beer Receipts,Total Receipts
125022,DOLCE VITA,4222 DUVAL ST,AUSTIN,TX,78751,8351,5001,2996,16348
269595,AUSTIN'S MOON TOWER SALOON INC.,10212 MANCHACA RD,AUSTIN,TX,78748,143445,5001,178460,326906
293795,THE BONNEVILLE,202 W CESAR CHAVEZ ST,AUSTIN,TX,78701,8559,5001,2017,15577
484904,CARINO'S ITALIAN,12901 N INTERSTATE 35,AUSTIN,TX,78753,3962,5001,1616,10579
533972,400 BAR/CUCARACHA/CHUPACABRA/JACKALOPE/MOOSENU...,400 E 6TH ST,AUSTIN,TX,78701,359386,5001,105137,469524
748125,SAWYER & CO,4827 E CESAR CHAVEZ ST,AUSTIN,TX,78702,10800,5001,3092,18893

In [ ]:
dallastotalmin = clean_df.loc[clean_df["Total Receipts"]=<5001]
fwtotalmin = clean_df.loc[clean_df["Total Receipts"]==5001]
houstontotalmin = clean_df.loc[clean_df["Total Receipts"]==5001]
satotalmin = clean_df.loc[clean_df["Total Receipts"]==5001]