In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from datetime import date
import scipy.stats as st
from scipy.stats import linregress
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# Setup url configuration
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "Imperial"
params = {
    "appid": weather_api_key,
    "units": units,
}

In [3]:
# Create lists to hold data
lon =  []
lat = []
date = []
country = []
city_name = []
address = []

# Print opening statement
print("Initiating Data Retrieval")
print("-----------------------------")

# Set up initial values for record and set counts
record_count = 1
set_count = 1

cities = ["Austin", "Dallas", "Fort Worth", "Houston", "San Antonio"]

# Loop through the list of cities and request data for each
for city in cities:
    try:
        params["q"]= city
        response = requests.get(url, params=params).json()
        print(f"Processing Record {record_count} of Set {set_count}: {city.title()}")
        lon.append(response["coord"]["lon"])
        lat.append(response["coord"]["lat"])
        date.append(response["dt"])
        country.append(response["sys"]["country"])
        city_name.append(response["name"])
    except:
        print("City not found. Skipping...")
    
    record_count += 1
    if record_count == 51:
        record_count = 1
        set_count += 1
    
# Print closing
print("-----------------------------")
print("Data Retrieval Complete!")

Initiating Data Retrieval
-----------------------------
Processing Record 1 of Set 1: Austin
Processing Record 2 of Set 1: Dallas
Processing Record 3 of Set 1: Fort Worth
Processing Record 4 of Set 1: Houston
Processing Record 5 of Set 1: San Antonio
-----------------------------
Data Retrieval Complete!

In [4]:
response

{'coord': {'lon': -98.4936, 'lat': 29.4241},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 88.57,
  'feels_like': 88.39,
  'temp_min': 84.54,
  'temp_max': 91.15,
  'pressure': 1009,
  'humidity': 39},
 'visibility': 10000,
 'wind': {'speed': 12.66, 'deg': 130},
 'clouds': {'all': 0},
 'dt': 1652490438,
 'sys': {'type': 2,
  'id': 2003611,
  'country': 'US',
  'sunrise': 1652442176,
  'sunset': 1652491070},
 'timezone': -18000,
 'id': 4726206,
 'name': 'San Antonio',
 'cod': 200}

In [5]:
# setup the dictionary
dictionary = {
    "City Name": city_name,
    "Country": country,
    "Date": date,
    "Latitude": lat,
    "Longitude": lon,
}

In [6]:
# create dataframe using dictionary
wdf = pd.DataFrame(dictionary)

# show head
wdf.head()

     City Name Country        Date  Latitude  Longitude
0       Austin      US  1652490209   30.2672   -97.7431
1       Dallas      US  1652490285   32.7668   -96.7836
2   Fort Worth      US  1652490440   32.7254   -97.3208
3      Houston      US  1652490469   29.7633   -95.3633
4  San Antonio      US  1652490438   29.4241   -98.4936

In [7]:
# Store latitude and longitude in locations
locations = wdf[["Latitude", "Longitude"]]

In [8]:
gmaps.configure(api_key=g_key)

In [9]:
hotel_df = pd.DataFrame(wdf)

In [10]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"type": "hotel",
     "radius": 15, 
     "keyword":"hotel",
     "key": g_key,
}

In [11]:
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    lat = row["Latitude"]
    long = row["Longitude"]
    city_name = row["City Name"]

    # add keyword to params dict
    params["location"] = f"{lat},{long}"

    # assemble url and make API request
    print(f"Retrieving Closest Hotel for Index# {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response["results"]
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index,"Hotel Name"] = results[0]['name']
          
    except (KeyError, IndexError):
        print("No Hotel Found")
        
    print("---------------")
    
    
print("---End of Search---")

Retrieving Closest Hotel for Index# 0: Austin.
Closest hotel in Austin is The Stephen F Austin Royal Sonesta Hotel.
---------------
Retrieving Closest Hotel for Index# 1: Dallas.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 2: Fort Worth.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 3: Houston.
Closest hotel in Houston is The Lancaster Hotel.
---------------
Retrieving Closest Hotel for Index# 4: San Antonio.
Closest hotel in San Antonio is Riverwalk Plaza Hotel.
---------------
---End of Search---

In [12]:
response

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 29.4227669, 'lng': -98.49303599999999},
    'viewport': {'northeast': {'lat': 29.42428627989272,
      'lng': -98.49177852010727},
     'southwest': {'lat': 29.42158662010728, 'lng': -98.49447817989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Riverwalk Plaza Hotel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1923,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109635693452035690146">Riverwalk Plaza Hotel and Suites</a>'],
     'photo_reference': 'Aap_uEDmf2Z0ww6a6RU98-5KGLYmluo7pZdPf-vxkZ8myvgRZiL4QEGcUcWPEbmPyTNu1ouZu-vd1z3YPooznWNti2Mfe7CUZi0gZTBZjThqdcho7ig9bmS6OudDU7vtYVhjovlEHUOrLiHbM9VlZBC4DPj0cI3-_n_E6BOtygrkTlYTtnE6',
     'width': 2880}],
   'place_id': 'ChIJnRWhBa1YXIYReQg4LVjL85w',
   'plus_code': {'compound_code': 'CGF4+4Q San Antonio, Texas',
    'global_code': '76X3CGF4+4Q'},
   'rating': 3.9,
   'reference': 'ChIJnRWhBa1YXIYReQg4LVjL85w',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1875,
   'vicinity': '100 Villita St, San Antonio'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 29.4236237, 'lng': -98.4914848},
    'viewport': {'northeast': {'lat': 29.42507672989272,
      'lng': -98.49023397010728},
     'southwest': {'lat': 29.42237707010728, 'lng': -98.49293362989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Homewood Suites by Hilton San Antonio-Riverwalk/Downtown',
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102932995164667295092">Homewood Suites by Hilton San Antonio Riverwalk Downtown</a>'],
     'photo_reference': 'Aap_uEDsIItQMZObVJzcNCTP5ZutDDoUcCxlyOcLjEUnsnigkfyOK42nFKozcHCFmoGVKdYY0n5_vsACkNrVBr_nLKhv82BZoQeMW42ZUtEqRJfWtMib5R0uQir6InZRPOmJ6NwymReyW06fiFoaH4Em3wHQTzZzkbvS1Zh8yayYiWKUq4Ab',
     'width': 3024}],
   'place_id': 'ChIJBbjLwaxYXIYRbkuokPaua84',
   'plus_code': {'compound_code': 'CGF5+CC San Antonio, Texas',
    'global_code': '76X3CGF5+CC'},
   'rating': 4.2,
   'reference': 'ChIJBbjLwaxYXIYRbkuokPaua84',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 980,
   'vicinity': '432 W Market St, San Antonio'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 29.425968, 'lng': -98.49555199999999},
    'viewport': {'northeast': {'lat': 29.42729467989272,
      'lng': -98.49438662010726},
     'southwest': {'lat': 29.42459502010728, 'lng': -98.49708627989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Holiday Inn Express San Antonio N-Riverwalk Area, an IHG Hotel',
   'photos': [{'height': 1363,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105029536456286673190">Holiday Inn Express San Antonio N-Riverwalk Area</a>'],
     'photo_reference': 'Aap_uECdkfmMt3F4Q477uOMXPUE2X7rbzfVd2HixJ9IhiCzF_WyaxcvFS3dTGBvHxuBhkfQNuusWgvaDTDWXmwUd241fe82WENfNm-Cjf58buNA_ZwnuKWxujaP8TPodMbRwBHGg9AWDIXn3xigJARZmetqFqEwJjaTPw8dln3ffMyq8FkHE',
     'width': 2048}],
   'place_id': 'ChIJGebCWk1fXIYRg-duPiHHppE',
   'plus_code': {'compound_code': 'CGG3+9Q San Antonio, Texas',
    'global_code': '76X3CGG3+9Q'},
   'rating': 3.4,
   'reference': 'ChIJGebCWk1fXIYRg-duPiHHppE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 896,
   'vicinity': '120 Camaron St, San Antonio'}],
 'status': 'OK'}

In [13]:
hotel_df.rename(columns={"City Name" : "City"}, inplace=True)
hotel_df

,City,Country,Date,Latitude,Longitude,Hotel Name
0,Austin,US,1652490209,30.2672,-97.7431,The Stephen F Austin Royal Sonesta Hotel
1,Dallas,US,1652490285,32.7668,-96.7836,NaN
2,Fort Worth,US,1652490440,32.7254,-97.3208,NaN
3,Houston,US,1652490469,29.7633,-95.3633,The Lancaster Hotel
4,San Antonio,US,1652490438,29.4241,-98.4936,Riverwalk Plaza Hotel

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [15]:
# Add marker layer ontop of heat map
fig = gmaps.figure(center=(30, -95), zoom_level=6)
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
plt.savefig('plot.png')